/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@charset "utf-8";

@use "bootstrap/scss/bootstrap" as *;
@use "fancybox";

@font-face {
	font-family: 'Nanum Gothic';
	src: local('☺'),url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/NanumGothic-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:  url('../fonts/material-icon.woff2') format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
}


$default-bg : #f7f7f7;
$default-color: $body-color;
$secondary-bg :#fff;
$color-mode-type: data;


[data-bs-theme="light"] {
	--bs-border-color : #ccc;
	.media {background-color: #fff}
}


html,body {margin:0;padding:0; height:100%}
body {background-color:$default-bg;color: $default-color; font-family: "Nanum Gothic", "나눔고딕", "Malgun Gothic", "맑은 고딕", "gulim","굴림","Dotum", "돋움", Arial, Helvetica, sans-serif}

label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a{text-decoration:none;}
a:active {color:red}
a:hover{text-decoration:underline;}
a img {border:none}

h1 {font-size :180%}
h2 {font-size :160%}
h3 {font-size :140%}
h4,h5,h6 {font-size : 120%}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* layout */
#mom {clear:both;float:left;width:100%;padding:0}
.page-header {margin-top:30px}
.page-header div {border-bottom:1px solid #999;margin-bottom:40px}
.page-header h2 {float:left;margin:0.4em 0;padding:0;font-weight:bold;color:#666}
.page-header nav  {float:right;margin:0}
.page-header nav ol {margin:0;padding-right:0}
.alert-success {clear:both}
.container {max-width:2500px}
.modal-header {background:#37474f;color:#fff}
.modal-header * {color:#eee}
.modal-body,.modal-footer {background:#eee}
.thead-default th {
	background-color: #868e96;
	color: #fff;
	font-weight:600;
}

.close {
	position:absolute;
	top:10px;
	right:10px;
}


.media ul li {list-style:none}


.no-display-title {font-size:18px;text-indent:-9999px;line-height: 0;height:1px;margin:0;padding:0}

.jumbotron {margin:2rem 0}

.jumbotron, .media {
	background:$secondary-bg
}

.carousel-indicators li {
	border:none;height: 20px
}

.carousel-indicators .active {background:#999}


/* Common Class */
$red_default : #f95090;
$red_hover : #ff96b4;
$blue_default : #50b9d8;
$blue_hover : #78dcff;
$green_default : #8dc63f;
$green_hover : #c8dc5c;
$blue_amicogen : #073683;

.arial {font-family:Arial}
.noneData {text-align:center}
.clear{clear:both}
.none{display:none}
.number {font-family:Arial;letter-spacing:0}
.clear{clear:both}
.none{display:none}
.wrapper {margin:0 auto;width:728px}
.ad_test {background:red}
.jumbotron {margin:30px 0}
.sl_categories span.hidden-xs {display:inline!important}
.card {margin-bottom:15px}

/* header */
header {position:relative;background-color:$secondary-bg}
header h1 a {display:block;margin-top:1rem}
header h1 a:hover {text-decoration:none}

header nav ul li ul {position:absolute;display:none}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.nav > li > a {
	border-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

header nav ul li ul li a {float:none; display:block;}


/* footer */
footer {clear:both;margin:0;text-align:left;background-color: #f1f1f1}
footer ul {margin-bottom:0; padding:1rem;list-style: none}
footer address {margin:0;padding:0;}
footer a,footer a:visited {color:rgba(var(--bs-link-color-rgb),1)}
footer a:hover {text-decoration:none;}

.alert-success {clear:both}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

#top-menu {position:absolute;top:10px;right:30px;margin:0;padding:0;list-style:none;z-index:9999}
#top-menu li {float:left;margin:0;padding:0;line-height:50px}
#top-menu li#admin-info {margin-right:35px}
#top-menu li a {text-decoration: none;vertical-align: bottom;}
#top-menu li a i {text-align: center;vertical-align: bottom;margin-right:5px}

#main-menu h1 {text-align: center}
#main-menu h1 a {color:#ccc}
#main-menu h1 a:hover {color:#fff;text-decoration: none}
#main-menu {background:#333;margin:0;padding:0}
#main-menu  .nav > li > a:focus {
	background-color: #333;
}

#main-menu a i {
	float: left;
	font-size: 24px;
	margin-right: 10px;
	width: 24px;
	text-align: center;
}

#main-menu .nav-link {
	display: block;
	width: 100%;
	padding: 10px 0 10px 20px;
	color: #cfd8dc;
	line-height: 26px;
	font-weight: 500;
	font-size:1.2em;
	text-decoration: none;
	vertical-align: bottom;
}

#main-menu .nav-link:hover {
	color:#666
}

#main-menu .nav-link:active {
	color:#fff
}

#main-menu .nav-item {width:100%}
#main-menu li.active a {background:#eee}
#main-menu .active>.nav-link {color:#333}
.hidden-title {text-indent: -9999px}

.sub-nav {position:relative;margin-top:15px}



#sl_order_add .section_bottom {margin-top:30px}
#sl_order_add .product {float:left;width:100%;background:#eee;border-radius:5px;padding:20px;margin-bottom:20px}
#sl_order_add .product figcaption {display:block;width:1px;height:1px;text-indent:-9999px}
#sl_order_add .product .product_image {float:left;width:25%}
#sl_order_add .product .product_text {float:right;width:73%}
#sl_order_add .product .product_text h4 {border-bottom:1px solid #ccc;padding:5px 0}
#sl_order_add .product .product_text .product_price {float:right;}
#sl_order_add .product .product_text .product_description {clear:both}
#sl_order_add table caption {width:1px;height:1px;text-indent:-9999px}


@media (max-width: 991px) {
	#main-menu h1 {margin-top:10px;margin-bottom:10px}
	#top-menu nav ul li.nav-item {display:block;width:50%;margin:0;padding:0}
	#top-menu {top:1px}
	#admin-info img {display:none}
}

@media all and (min-width: 992px) {
	html,body {font-size:18px}
	header {position: relative}
	#main-menu h1 {margin-top:20px}
	#main-menu nav {margin-top:50px}
	#main-menu {min-height:100%}
	#main-menu li a {border-top-left-radius:20px;border-bottom-left-radius:20px}
}

@media (min-width: 992px) and (max-width: 1199px) {
	header {height:5em}
	#mom {padding-top:0;padding-bottom:0;margin-top:-5em;margin-bottom:-3em;min-height:100vh}
	#anon_body #mom {margin-top:0}
	#main {padding-top:5em;padding-bottom:3em}
	.sub_main {margin-top:1em;margin-bottom:1em}
	#top-menu nav ul li.nav-item {display:block;width:20%;margin:0;padding:0}
	#top-menu { height: 92px;}
	.top-menu {
		z-index: 1015;
		position:absolute;
		bottom:0;
		width:100%;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
	}


	#users .user_sub nav .nav-item {width:24%;text-align:center;margin:0 5px 5px 0}
}

@media (min-width: 992px) and (max-width: 1199px) {
	header {height:5em}
	#mom {padding-top:0;padding-bottom:0;margin-top:-5em;margin-bottom:-3em;min-height:100vh}
	#anon_body #mom {margin-top:0}
	#main {padding-top:5em;padding-bottom:3em}
	.sub_main {margin-top:1em;margin-bottom:1em}
	#top-menu nav ul li.nav-item {display:block;width:20%;margin:0;padding:0}
	#top-menu { height: 92px;}
	.top-menu {
		z-index: 1015;
		position:absolute;
		bottom:0;
		width:100%;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
	}


	#users .user_sub nav .nav-item {width:24%;text-align:center;margin:0 5px 5px 0}
}

@media (min-width: 1200px) {
	header {height:5em}

	.top-menu {
		z-index: 1015;
		position:absolute;
		bottom:0;
		width:100%;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
	}

	#mom {padding-top:0;padding-bottom:0;margin-top:-5em;margin-bottom:-3.5em;min-height:100vh}
	#anon_body #mom {margin-top:0}
	#main {padding-top:5em;padding-bottom:4em}
	.sub_main {margin-top:1em;margin-bottom:1em}
	.top-menu { height: 46px;}
	.container {width:1150px;}
}

@media (min-width: 1400px) {
	.container {width:1350px;}
}

@media (min-width: 1200px) and (max-width: 1500px) {

	#users .right_a nav .nav-item {width:16%;text-align:center;margin:0 5px 5px 0}
}


@include color-mode(dark) {
	body {
		color: var(--bs-body-color);
		background-color: var(--bs-body-bg);
	}

	#top-menu a {color:#ccc}
	#main-menu li.active a {background-color:  var(--bs-body-bg);color:#fff}
	#faqList dt.on a {background:#ccc}
	.page-header h1, .page-header h2 {color: var(--bs-body-color)}
	header,footer,.jumbotron,.media,.card-body,aside article,#faqList dt a.title,.modal-body, .modal-footer,.sl_content_header,.thead-default th,.breadcrumb,.box_content, header nav,.menu_back,,#faqList dd {background-color:var(--bs-secondary-bg)}
	.box_header {background: #666;border-color:var(--bs-border-color)}
	.box_header h2 {text-shadow: none;color:#ccc}
}

@include color-mode(light) {
	a {
		color: #666
	}
	a:hover {
		color: #333
	}
	a:visited {
		color: #666
	}
	a:active {
		color: #000
	}

	footer a,footer a:visited {color:#333}
	footer a:hover {text-decoration:none;}

	header a {color:#333}
	header a:visited {color:#333}
	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,.nav-tabs {border-color:#ccc}
	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {border-bottom-color:#f1f1f1}
	a.btn-primary,a.btn-primary:visited {color:#fff}
}